{% extends 'base.html.twig' %}

{% block title %}Billets{% endblock %}

{% block body %}
    <h1>Billets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdBillet</th>
                <td>{{ billet.idBillet }}</td>
            </tr>
            <tr>
                <th>NbrBillet</th>
                <td>{{ billet.nbrBillet }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ billet.prix }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ billet.dateAchat ? billet.dateAchat|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_billets_index') }}">back to list</a>

    <a href="{{ path('app_billets_edit', {'idBillet': billet.idBillet}) }}">edit</a>

    {{ include('billets/_delete_form.html.twig') }}
{% endblock %}
