{% extends 'back.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categories</h1>

     {{ form_start(form.category) }}    
       {{form_widget(form)}}
        <button class="btn">{{ button_label|default('Rechercher') }} </button>
    
     {{form_end(form)}}



    <table class="table">
        <thead>
            <tr>
                <th>Idcateg</th>
                <th>Nomcateg</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idcateg }}</td>
                <td>{{ categorie.nomcateg }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'idcateg': categorie.idcateg}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'idcateg': categorie.idcateg}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new')}}">Create new</a>
{% endblock %}
