{% extends 'back.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvent</th>
                <td>{{ evenement.idEvent }}</td>
            </tr>
            <tr>
                <th>Imagee</th>
                <td>{{ evenement.imagee }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ evenement.nomEvent }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Typee</th>
                <td>{{ evenement.typee }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Prixu</th>
                <td>{{ evenement.prixu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
