{% extends 'back.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block body %}
    <h1>Matchs index</h1>
<form method= "POST">
    <input  type="text" name ="nom">
    <input  type="submit" value ="recherche  selon nom Match ">
</form>

    <table class="table">
        <thead>
            <tr>
                <th>IdMatch</th>
                <th>Equipe1</th>
                <th>Equipe2</th>
                <th>Etat</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.idMatch }}</td>
                <td>{{ match.equipe1 }}</td>
                <td>{{ match.equipe2 }}</td>
                <td>{{ match.etat }}</td>
                <td>
                    <a href="{{ path('app_matchs_show', {'idMatch': match.idMatch}) }}">show</a>
                    <a href="{{ path('app_matchs_edit', {'idMatch': match.idMatch}) }}">edit</a>
                    <a href="{{ path('match', {'idMatch': match.idMatch}) }}">showPdf</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(matchs) }}
        </tbody>
    </table>
    <div>
        <a href="{{ path('app_matchs_new') }}">Create new</a>
    </div>

    <div>
        <a href="{{ path('app_contact') }}">send mail</a>
    </div>
{% endblock %}
