
{{ form_start(form) }}
<br>
<a>Entrer Date 1 :  {{ form_row(form.min)}}

Entrer Date 2: {{ form_row(form.max) }}

<button type="submit" href="{{ path('filtrerD') }}" class="btn btn-primary w=100">Filtrer </button>

</a>


<p></p>


<div>


</div>
{{ form_end(form) }}

